<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
    <title>Randomer</title>

    <style>
        body {
            min-height: 100vh;
            font-family: 'Rubik', sans-serif;
            color: #828282;
        }
        main {
          padding: 2%;
        }
        h1 {
          color: salmon;
        }
    </style>

    <script type="text/javascript">
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function showData(number) {
          document.getElementById("result").innerHTML = number
          document.getElementById("button").innerHTML = "new"
        }

        function showError() {
          document.getElementById("result").innerHTML = "😩 Something went very wrong"
          document.getElementById("button").innerHTML = "new"
        }

        function showLoading() {
            document.getElementById("button").innerHTML = `Loading...`
        }

        async function newRandom(event) {
            if (event) {
                event.preventDefault()
            }
            showLoading()

            fetch(`/random`, {
               headers: {}
            }).then(async (response) => {
              await sleep(300)
              data = await response.json()
              console.log(data)
              if ("error" in data) {
                showError()
              } else {
                showData(data.random)
              }
            }).catch(e => {
               showError()
          });
        }

    </script>
</head>

<body>
  <main>
    <button id="button" onclick="newRandom()">New</button>
    <h1 id="result">Press 👆 to load something random</h1>
    <p style="padding-top: 5px">
    -drd (version: 0.0.6)
    </p>
  </main>
</body>
</html>
